<div class="container">

    <img src="../assets/images/logo.jpg" alt="" height="250px" width="250px" id="logo">

    <form>
        <div class="form-group">
            <label for="inputEmail1">Email address</label>
            <input #emailInput type="email" class="form-control" id="inputEmail1" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="inputPassword1">Password</label>
            <input #pwInput type="password" class="form-control" id="inputPassword1" placeholder="Password">
        </div>


        <div class="other-buttons">

            <button type="button" class="btn btn-primary d-block mx-auto"
                (click)="onLoginButtonClicked(emailInput.value, pwInput.value)">Log in</button>


            <!-- Register buttons -->
            <div class=" text-center register">
                <p>Not a member? <a href="/register">Register</a></p>
            </div>

        </div>

    </form>

</div>